<h1 class="blue"> {{data.title}} </h1>

<div class="openGForm" google-form="">
    <div></div>
</div>

<table class="table table-hover table-light table-striped" ng-if="!display.mobile">

    <thead>
    <tr>
        <th scope="col"
            ng-repeat="label in display.labels"
            ng-class="{'borderLeftCell': !$first}"
            class="blue-bg">
            {{label.label}}
        </th>
    </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in data.content">
            <td ng-repeat="label in display.labels"
                ng-class="{'borderLeftCell': !$first}">
                {{item[label.property]['$t']}}
            </td>
        </tr>
    </tbody>

</table>

<div id="toolGrid" class="grid container-fluid" ng-if="display.mobile">
    <div class="tool"
         ng-class-odd="'blue-bg'"
         ng-repeat="item in data.content">
            <div class="field"
                 ng-repeat="field in display.labels"
                 ng-if="item[field.property]['$t']">
                <span class="label">{{field.label}}:</span> <span> {{item[field.property]['$t']}}</span>
            </div>
    </div>
</div>