<!--<h1 class="blue"> {{data.title}} </h1>-->

<div class="titleBlock">
    <h2>Help you discover resources to measure and improve FAIRness.</h2>
    <h3> FAIRassist is the new, under development, educational component of the well established <a href="https://fairsharing.org" target="_blank">FAIRsharing</a> resource.  </h3>
    <p>
        FAIRassist is being designed to <b>offer personalised guidance to all stakeholders to discover standards and
        repositories in FAIRsharing</b>, which should be used to make data FAIR, as well as signpost other resources that enable FAIRness.
        <br>
        FAIRassist is under development, and it will implement a phased rollout of its content, working with and for the community.
        As an initial step, we are collecting and describing existing resources for the assessment and/or evaluation of digital objects against the
        <a href="https://doi.org/10.1038/sdata.2016.18" target="_blank">FAIR principles</a>, which are aspirational. The focus is on <u>manual</u>
        <i>questionnaires</i>, <i>checklists</i> and <u>automated</u> <i>tests</i> that help users understand how to achieve a state of
        "FAIRness", and how this can be measured and improved.
        This is not intended to be a comprehensive list of all groups, projects and organizations that tackle FAIRness or FAIRification.
        If your resource is missing, you can submit it via the "Register resource" button below.
    </p>
</div>

<div class="openGForm" google-form="">
    <div></div>
</div>

<table class="table table-hover table-light table-striped" ng-if="!display.mobile">

    <thead>
        <tr>
            <th scope="col"
                ng-repeat="label_name in display.authorized_labels"
                ng-class="{'borderLeftCell': !$first}"
                class="blue-bg" ng-if="display.authorized_labels.indexOf(label_name) > -1"
                ng-click="display.sorting_field = label_name; display.sorting_order[label_name] = !display.sorting_order[label_name]">
                {{label_name | remove_dash}}
                <span class='sorter 'ng-if="display.sorting_field == label_name">
                    <i class="fa fa-chevron-up" ng-if="display.sorting_order[label_name]"></i>
                    <i class="fa fa-chevron-down" ng-if="!display.sorting_order[label_name]"></i>
                </span>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in data.content | orderBy:'\''+display.sorting_field+'\'':display.sorting_order[display.sorting_field]">
            <td ng-repeat="label in display.authorized_labels"
                ng-class="{'borderLeftCell': !$first}"
                class="{{label}}">

                <div ng-if="item.hasOwnProperty(label + '_URL')">
                    <a ng-href="{{item[label + '_URL']}}" target="_blank" ng-bind-html="item[label]"></a>
                </div>

                <div ng-if="!item.hasOwnProperty(label + '_URL')">
                    <div ng-bind-html="item[label]"></div>
                </div>
            </td>

        </tr>
    </tbody>
</table>

<div id="toolGrid" class="grid container-fluid" ng-if="display.mobile">
    <div class="tool"
         ng-class-odd="'blue-bg'"
         ng-repeat="item in data.content">

            <h4 class="resourceName">
                {{item['Resource']}}
                <a ng-href="{{item['Resource_URL']}}"
                   target="_blank"
                   class="fas fa-share-square showResource" ng-if="item['Resource_URL']">
                </a>
            </h4>

            <hr>

            <div class="field" id="execution">
                <span class="label">Type of Execution: </span>{{item['Execution-type']}}
            </div>

            <div class="field" id="organization">
                <span class="label">Organisation: </span>
                {{item['Organisation']}}
                <!--<a ng-href="{{item['Organisation_URL']}}"
                   target="_blank"
                   class="fas fa-share-square showResource" ng-if="item['Organisation_URL']">
                </a>-->
            </div>

            <div class="field" id="assessment">
                <span class="label">Assessing: </span>
                {{item['Target-objects']}}
            </div>

            <div class="field" id="material" ng-if="item['Reading-material']">
                <span class="label">Reading material: </span>
                {{item['Reading-material']}}
            </div>

            <div class="field" id="features">
                <span class="label">Key feature(s): </span>
                <div class="featuresItems" ng-bind-html="item['Key-features']"></div>
            </div>

        <!--
            <div class="field"
                 ng-repeat="label in display.authorized_labels">
                    <div class="fieldLabel">{{label}}:</div>
                    <div class="fieldValue" ng-bind-html="item[label]"></div>
            </div>
           -->
    </div>
</div>
